<md-card>
  <md-card-header>
    <md-card-title>
      <h1>
        <span *ngIf="selectedStudent.id; else prompt">Editing {{originalName}}</span>
        <ng-template #prompt>Create</ng-template>
      </h1>
    </md-card-title>
  </md-card-header>
  <form (submit)="saved.emit(selectedStudent)">
    <md-card-content>
      <md-input-container class="full-width">
        <input mdInput placeholder="First Name" [(ngModel)]="selectedStudent.firstName" type="text" name="firstName">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput placeholder="Last Name" [(ngModel)]="selectedStudent.lastName" type="text" name="lastName">
      </md-input-container>
      <div class="full-width">
        <md-checkbox [(ngModel)]="selectedStudent.active" name="active">Active</md-checkbox>
      </div>
      <div class="full-width" *ngIf="selectedStudent.id">
        <h3>Enrolled Courses</h3>
        <md-list>
          <md-list-item *ngFor="let course of selectedStudent.courses">
            <md-checkbox [(ngModel)]="course.enrolled" name="{{course.id}}">{{course.name}}</md-checkbox>
          </md-list-item>
        </md-list>
      </div>
    </md-card-content>
    <md-card-actions>
      <button type="submit" md-button>Save</button>
      <button type="button" md-button (click)="cancelled.emit(selectedStudent)">Cancel</button>
    </md-card-actions>
  </form>
</md-card>
